{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<style>
    code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: 'Courier New';
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
</style>
{% endblock %}

{% block content %}
<h2>poraclePvpHelper Plugin</h2>
<strong>Topics</strong><br>
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#setup">Setup</a></li>
</ul>
<h3 id="introduction">Introduction</h3>
no ETA!

<h3 id="setup">Setup</h3>
no ETA!
<code>
    [settings]<br />
    interval = 60<br />
</code><br /><br />
{% endblock %}
